.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 2em;
}

.page-link {
  width: auto;
  padding: 0.2em 0.5em;
  margin: 0 0.5em;
  border-radius: 0.5em;
  border: none;
}

.active-page {
  color: red;
}
